# Ansible
*.retry
.vault_pass
vault_pass.txt
*.log

# Local Inventory
inventory/local/

# Variabili sensibili
group_vars/all/vault.yml
host_vars/*/vault.yml

# Galaxy Dependencies
roles/external/

# Python
__pycache__/
*.pyc
.venv/
venv/
